$text-color-white: #ffffff;
$text-color-black: #414141;
$dark-orange: #E88300;
$bright-orange: #FFA42E;
$bright-gray: #F5F5F5;
$dark-gray: #E9E9E9;


$button-height: 32px;
$small-button-width: 120px;
$large-button-width: 272px;
$button-padding: 8px 12px;
$text-size: 12px;
$text-size-large: 14px;
$list-width: 616px;
$modbile-list-width: 320px;


